body{
    font-family: 'Manrope';
    font-style: normal;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

button{
    background-color: #fff;
}

a{
    color: black;
}

button{
    background-color: white;
}

.antet{
    max-width: 1440px;
    width: 100%;
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo .img img{
    width: 150px;
    height: 70px;
}

.logo .name h3{
    font-size: 27px;
}

.navbar{
    transform: translateX(150px);
}

.navbar ul {
    display: flex;
    width: 336px;
    justify-content: space-between;
    font-size: 22px;
}



.navbar li a:hover{
    text-decoration: underline;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "Ro";
    height: 24px;
    width: 24px;
    top: 3px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    content: "En";
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.options{
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.delete button{
    width: 54px;
    height: 50px;
    background-color: rgb(233, 83, 83);
    padding: 15px;
    border-radius: 8px;
    color: white;
}

.cart{
    margin-top: 100px;
    width: 1000px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 15px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    width: 150px;
}

.align{
   display: flex;
}

.select{
    transform: translateY(63%);
}

.price p{
    font-size: 20px;
    font-weight: normal;
}

.title h2{
    font-size: 20px;
    width: 250px;
}

.first_block{
    display: flex;
}

.first_block .img img{
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.final{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final_price h2{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

.error{
    font-size: 30px;
    text-align: center;
}

.finalizeaza button{
    color: white;
    background: #3C9379;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 22px;
    gap: 10px;
    left: calc(50% - 515px/2 + 4.5px);
    top: calc(50% - 81px/2 + 328px);
    height: 81px;
    width: 515px;
    font-size: 30px;


}

















.names h3{
    font-size: 32px;
    font-weight: 800;
}

.names p{
    font-size: 18px;
}

.names{
    width: 300px;
}

.footer{
    width: 1200px;
    margin-bottom: 0;
    margin-top: 150px;
    padding-bottom: 20px;
}

.four_blocks{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

.tag{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 10px;
}

.space{
    line-height: 20px;
}

.space:hover{
    text-decoration: underline;
}

.cont{
    line-height: 20px;
}

.idk{
    text-align: center;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.45);
}

.names{
    line-height: 25px;
}

.names p{
    margin-top: 15px;
}